*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    color: white;
}
body{
    background-image:url(./Images/backgroundimg.png);
    background-size: cover;
    background-repeat: no-repeat;
}
#main-container{
width: auto;
}